/*
===============
config
=============== */

$max-width:				960px;
$nav-width:             1000px;
$font-color:			#666666;
$link-color:            #72afb6;

$primary-color:         #ff8403; /* orange */
$secondary-color:       #72afb6; /* blue */
$ternary-color:         #999999; /* gray */

$font-size-origin:      16px;
$line-height-origin:    24px;

$font-size-sm:			0.75em;   //12
$line-height-sm:		1em;

$font-size:				1em;
$line-height:			1em;

$font-size-md:          1.5em;    //24
$line-height-md:        1.75em;

$font-size-lg:          1.75em;   //28
$line-height-lg:        1em;

$font-size-xlg:         2em;      //32
$line-height-xlg:       1em;

$font-footer:           0.6875em; //11
$line-height-footer:    1em;

$font-stack:            Arial, Helvetica, sans-serif;
$font-stack-2:         'Raleway', Verdana, Geneva, sans-serif;

$menu-max-width:        $max-width;
$sub-menu-max-width:    200px;